@model OfficeSpace.Models.NavigationModel
@{
    ViewBag.Title = "Index";
}

<script src="~/Scripts/Home.js"></script>
@using (Html.BeginForm("Parse", "Request", FormMethod.Post,new {id="Home" }))
{
<div id="page-wrapper">
    <div class="panel">
        <div class="panel-heading">
            <div class="row">
                @*<div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="form-group col-lg-4 col-md-4 col-sm-4">*@
                        <div class="form-group col-lg-4 col-md-4 col-sm-4">
                            <label for="company">Company</label>
                            <select class="form-control" id="Company" name="Company">
                                @if (Model != null)
                                {
                                <option value="0">---Select Company---</option>
                                    foreach (string item in Model.CompanyList)
                                    {
                                        <option value="@item">@item</option>
                                    }
                                }
                            </select>
                            </div>
                        <div class="form-group col-lg-4 col-md-4 col-sm-4">
                            <label for="Region">Region</label>
                            <select class="form-control" id="Region" name="Region">
                                <option value="0">---Select Region---</option>
                                <option value="Delhi">Delhi</option>
                                <option value="Haryana">Haryana</option>
                                <option value="Rajasthan">Rajasthan</option>
                                <option value="Punjab">Punjab</option>
                                <option value="Uttar Pradesh">Uttar Pradesh</option>
                                @*@if (Model != null)
                                {
                                    <option value="0">---Select City---</option>
                                    foreach (string cityName in Model.CityList)
                                    {
                                        if (cityName == Model.City)
                                        {
                                            <option value="@cityName" selected="selected">@cityName </option>
                                        }
                                        else
                                        {
                                            <option value="@cityName">@cityName</option>
                                        }
                                    }

                                }*@
                            </select>
                        
                            </div>
                <div class="form-group col-lg-4 col-md-4 col-sm-4">
                    @*@Html.Label("Select Branch Name")
                    @Html.DropDownListFor(model=>model.Branch,ViewBag.BranchList as SelectList,"Select Branch",new { @class="form-control"})*@
                    
                                        <label for="Branch">Branch </label>
                    <select class="form-control" id="Branch" name="Branch">
                        @if (Model != null)
                        {
                            <option value="0">---Select Branch---</option>
                            <option value="New">New Branch</option>
                            foreach (string BranchName in Model.BranchList)
                            {
                                if (BranchName == Model.Branch)
                                {
                                    <option value="@BranchName" selected="selected">@BranchName </option>
                                }
                                else
                                {
                                    <option value="@BranchName">@BranchName</option>
                                }
                            }

                        }
                    </select>
                    @Html.ValidationMessageFor(m => m.City)
                </div>

                        @*</div>
                </div>*@
                <div class="col-lg-8 col-md-8 col-sm-8">&nbsp;</div>
            </div>
        </div>
        <div class="panel-body">

            <div class="panel">
                <div class="panel-body">
                    <div class="col-lg-1 col-md-1 col-sm-1">
                        <a href="javascript:submitDataNew('New Office')" class="connectedAppBtn">
                            <img src="~/Images/RedButton.png" style="width:50px;height:50px;" />
                        </a>
                    </div>
                    <div class="col-lg-11 col-md-11 col-sm-11">
                        <strong style="font-size:16px;">New Office</strong>
                        <p>Buy/Rent</p>
                    </div>
                </div>
            </div>


            <div class="panel">
                <div class="panel-body">
                    <div class="col-lg-1 col-md-1 col-sm-1">
                        <a href="javascript:submitData('Relocation')" class="connectedAppBtn">
                            <img src="~/Images/RedButton.png" style="width:50px;height:50px;" />
                        </a>
                    </div>
                    <div class="col-lg-11 col-md-11 col-sm-11">
                        <strong style="font-size:16px;">Relocation</strong>
                        <p>Buy/Rent</p>
                    </div>
                </div>
            </div>
            @*<div class="panel">
                <div class="panel-body">
                    <div class="col-lg-1 col-md-1 col-sm-1">
                        <a href="javascript:submitData('Additional Space')" class="connectedAppBtn">
                            <img src="~/Images/RedButton.png" style="width:50px;height:50px;" />
                        </a>
                    </div>
                    <div class="col-lg-11 col-md-11 col-sm-11">
                        <strong style="font-size:16px;">Change in Existing Lease</strong>
                        <p>Buy/Rent</p>
                    </div>
                </div>
            </div>*@
        </div>
    </div>
</div>
}
<script type="text/javascript">
    $(document).ready(function () {
        activeSideNav('createrequest');
    });


   // var url = '/Home/AddBranchOffice?';
    function submitData(selectedMenuItem) {
        if( ValidateExistingRequest())
        {
            $("#Home").submit();
        }
        @*url = '@Url.Action("AddBranchOffice", "Home")?companyName=' + encodeURIComponent(document.getElementById("Company").value) + '&selectedMenu=' + encodeURIComponent(selectedMenuItem);
        window.location.href = url;*@
    }

    //var urlNew = '/Request/NewRequest?';
    function submitDataNew(selectedMenuItem) {
     
       @*urlNew = '@Url.Action("NewRequest", "Request")?companyName=' + encodeURIComponent(document.getElementById("Company").value) + '&selectedMenu=' + encodeURIComponent(selectedMenuItem);*@
        //window.location.href = urlNew;
        if (ValidateNewRequest()) {
            $("#Home").submit();
        }
    }
</script>